
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
  }


  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #207401;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }


  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }
  .content{
    padding-top: 50px;
  }
  h1 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0px;
    max-width: 450px!important;
  }
  h2, h3 {
    margin-top: 5px;
    color: #111111;
    font-weight:normal;
  }
  h3 {
    font-size: 1.3rem;
  }
  body {
    padding: .5rem;
    max-width: 1000px;
    margin: auto;
  }
@media (min-width: 600px) {
    body {
      padding: 2rem;
    }
  }
  body, input[text] {
    color: #f1efef;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  hr {
    margin: 1.5rem 0;
  }
  input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
  }
  .players{
    max-height: 900px !important;
    display: grid;
    margin-left: 110px;  
    grid-template-columns: repeat(3, 1fr);    
    margin-top: 45px;
  }
  .player-header{
      display: grid;
      grid-template-columns: repeat(3, min-content);    
  }
  
  .player-card-dialog{
    margin-top: 0px;
    background-color: #3a3a3a;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px rgba(74, 75, 75, 0.329);
    min-width: 450px;
    max-width: 600px!important;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
  }

  .player-card{
    margin-top: 0px;
    background-color: #3a3a3a;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px rgba(74, 75, 75, 0.329);
    min-width: 450px;
    max-width: 600px!important;
    margin-right: 60px;
    margin-bottom: 45px;
    padding-top: 10px;
  }
  

  .menu-card-centered{
    width:12%; 
    margin-top: 280px;
    margin-left: 795px;
    background-color: #3a3a3a;
    padding: 26px;
    padding-left: 73px;
    border-radius: 15px;
    box-shadow: 10px 10px rgba(74, 75, 75, 0.329);
    box-sizing: unset!important;
  }

.player-button{
  margin-top: 7px!important;
  margin-left: 0px!important;
  margin-right: 0px;
  padding: 0px!important;
  background:none;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  font-size: 1rem;
}
.header-button{
  background: none;
}
.header-button:hover{
  background: none;
}

.add-player-button{  
  margin-top: 50px !important;
  margin-left: 190px !important;
  margin-right: 0px;
  padding: 0px!important;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.save{
  width: 100px;
  margin-left: 480px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
  width: 60px;
  padding: 0px;
  height: 31px;
  background-color: greenyellow;
}

.switch-mode{
  height: 27px!important;
  margin-left: 8px!important;

}

:host ::ng-deep .p-inputswitch .p-inputswitch-slider::before {
  background: black;
} 


.save:hover{
  background-color: black;
}
.no:hover{
  background-color: black;
}
.no{  
  width: 100px;
  margin-left: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
  width: 60px;
  padding: 0px;
  height: 31px;
  background-color: red;
}
.player-button:hover {  
  background:none!important;
  color: white;
}
:host ::ng-deep .p-listbox {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
    border: 1px solid black;
    margin-top: 15px;
    max-width: 498px!important;
}
:host ::ng-deep .p-dialog-header-icon{
  color: white!important;
}
:host ::ng-deep .p-dialog-header-icon:hover{
  color: black!important;
  background: none;
}
.input-editable{
  width:22%; 
  font-size:0.8rem!important;
  height: 21%!important;
}
:host ::ng-deep .p-dialog-content {
  background: none;
  padding:0px;  
  border-radius:15px;
  box-shadow: 0px 1px 15px 15px rgba(0, 0, 0, 0.2), 0px 0px 38px 15px rgba(0, 0, 0, 0.14), 0px 9px 46px 15px rgba(0, 0, 0, 0.12)!important;
}

:host ::ng-deep .p-dialog{
  border-radius:15px!important;
  box-shadow: none;

}
:host ::ng-deep .p-dialog-header {
  background: none;
  padding:0px;
}
:host ::ng-deep .p-dialog-content:last-of-type {
  border-bottom-right-radius: 15px!important;
  border-bottom-left-radius: 15px!important;
}
:host ::ng-deep .p-component {
  font-size: 0.9rem!important;
}

:host ::ng-deep .p-listbox-header {
  background-color: rgb(34, 34, 34)!important;
}

:host ::ng-deep .p-listbox .p-listbox-list  .p-listbox-item {
  color: white!important;
  max-width: 450px!important;
}
:host ::ng-deep .p-listbox-filter{
  background-color: rgb(48, 47, 47);
  color: white!important;
}
:host ::ng-deep .p-checkbox-box{
  background-color: rgb(48, 47, 47);
}
:host ::ng-deep  .p-listbox .p-listbox-list .p-listbox-empty-message{
  color: white!important
}
.generateButton{  
  height: 80px;
  margin-left: 21px;
  width: 180px;
  margin-top: 300px;
}
  .subcard{
    width: 900px;
    height: 650px;
    margin-left: 5px;
    background-color: rgb(48, 47, 47);
    margin-top: 10px;
    padding: 10px 25px;  
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: unset!important;
  }
  
  .card-asing-teams{
    box-sizing: unset!important;
    display: flex;
    width: 1150px;
    height: 700px;
    margin-top: 50px;
    margin-left: 356px;
    background-color: #3a3a3a;
    padding: 26px;
    border-radius: 15px;
    box-shadow: 10px 10px rgba(74, 75, 75, 0.329);
  }
  .stat{
    color: #eee;
    font-weight:bold;    
  }
  .label{    
    color: #eee;
  }